opentrends-service/.settings/org.eclipse.core.resources.prefs
opentrends-service/.settings/org.eclipse.jdt.apt.core.prefs
opentrends-service/.project
opentrends-service/.classpath
opentrends-service/.factorypath
opentrends-service/.settings/org.eclipse.jdt.core.prefs
opentrends-service/.settings/org.eclipse.m2e.core.prefs
opentrends-service/.settings/org.springframework.ide.eclipse.prefs

cat ~/.gitignore
target/
*.class
*.jar
*.war
*.ear
*.logs

*.classpath
*.project
*.settings/